<div class="topnav"  >
  <mat-toolbar color="primary"  >
      <a   [routerLink]='["/home"]'> Holiday Tracker </a>
    
      <div style="margin-left: auto;" layout-align="end center">

      <a *ngIf="authService.isLoggedIn() && authService.getLoggedInUser().userType === 'Admin'"style="font-size: 20px;" mat-button [routerLink]='["/holiday/all"]'> HolidayAll </a>
      <a *ngIf="authService.isLoggedIn() "style="font-size: 20px;" mat-button  [routerLink]='["/holiday/colleagues"]'> Colleagues </a>
      <a *ngIf="authService.isLoggedIn() "style="font-size: 20px;" mat-button  [routerLink]='["/holiday/edit"]'> Edit Holiday </a>
      <a *ngIf="authService.isLoggedIn() "style="font-size: 20px;" mat-button  [routerLink]='["/holiday/create"]'> New Holiday </a>
      <a *ngIf="!authService.isLoggedIn() "style="font-size: 20px;" mat-button  [routerLink]='["/auth/login"]'> Login </a>
      <a *ngIf="!authService.isLoggedIn() "style="font-size: 20px;"mat-button [routerLink]='["/auth/register"]'> Register </a>
    
        
      <a *ngIf="authService.isLoggedIn()" style="font-size: 20px;background-color:cornflowerblue;" mat-button [matMenuTriggerFor]="animals"><i class="material-icons">account_circle  &nbsp;</i>{{ authService.getLoggedInUser()?.username}} </a>
      <mat-menu  #animals="matMenu">
        <a  (click)="logOut()" *ngIf="authService.isLoggedIn()"  style="font-size: 20px;"mat-button [routerLink]='["/auth/register"]'> Logout </a>
      </mat-menu>

      </div>
     </mat-toolbar>

    
  </div>
