

<mat-card >
  <mat-card-title style="margin-left: 25%;">{{formTitle}}</mat-card-title>  
<mat-card-content>
  <form [formGroup] ="form" id="idform">
  <p>
  <mat-form-field class="moveCenter" appearance="fill">
    <mat-label>Choose the start Date</mat-label>
    <input matInput placeholder="Starting Day" formControlName="startDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="startDate.hasError('required')">Field startDate is required </mat-error>
  </mat-form-field>
    </p>

    <p>
      <mat-form-field class="moveCenter" appearance="fill">
        <mat-label>Choose the end Date</mat-label>
        <input matInput placeholder="Starting Day" formControlName="endDate" [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
           <mat-datepicker #picker1></mat-datepicker>
       <mat-error *ngIf="endDate.hasError('required')">Field endDate is required </mat-error>
      </mat-form-field>
        </p>

        
    <div class="button" >

      <button type="submit" mat-button form="idform" style="margin-left: 20%;" (click)="createHoliday()" [disabled]="form.invalid" > {{buttonName}}</button>
      <button type="reset" [style]='displayButton'  style="margin-left: 10%;" mat-button  (click) ="deleteHoliday()"  >Delete Holiday</button>
     
      <mat-error *ngIf="form.controls.endDate.hasError('isError')">Wrong dates selected</mat-error>
    </div>
  </form>

</mat-card-content>
</mat-card>
  

